csas-style
knitr-cache-docx
knitr-cache-tex
knitr-cache-pdf
knitr-figs-docx
knitr-figs-pdf
reference-materials
_bookdown_files

.Rproj.user
.Rhistory
.RData
.DS_Store

*.aux
*.jpg
*.tiff
*.png
*.knit.md
*.log
*.rda
*.rds
*.Rproj
*.sty
*.upa
*.utf8.md
*.RData

