csas-style
knitr-cache-docx
knitr-cache-tex
knitr-cache-pdf
knitr-figs-docx
knitr-figs-pdf
reference-materials
_bookdown_files

/Results/

.Rproj.user
.Rhistory
.DS_Store

*.aux
*.jpg
*.tiff
*.png
*.knit.md
*.log
*.Rproj
*.sty
*.upa
*.utf8.md


